<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои чаты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            background-color: #f7f7f7;
            margin: 0;
        }
        .container {
            height: 100%;
        }
        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }
        .card-title {
            color: #333;
            text-align: center;
        }
        .chat {
            padding: 15px;
            border-bottom: 1px solid #e0e0e0;
            font-family: 'Roboto', sans-serif;
        }
        .chat:nth-child(odd) {
            background-color: #fff;
        }
        .chat:nth-child(even) {
            background-color: #f8f9fa;
        }
        .chat-name {
            color: #007bff;
            text-decoration: none;
            display: block;
            transition: color 0.2s;
            cursor: pointer;
        }
        .chat-name:hover {
            color: #0056b3;
            text-decoration: underline;
        }
        .chat-empty {
            color: #999;
            font-size: 1.2rem;
            text-align: center;
        }
        .btn-primary {
            background: #007bff;
            border: none;
            border-radius: 8px;
        }
        .btn-primary:hover {
            background: #0056b3;
        }
        .d-grid {
            margin-top: 20px;
        }
        .tooltip-custom {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Мои чаты</h3>
            {% if chats and chats|length > 0 %}
            <div id="chatsList">
                {% for chat in chats %}
                <div class="chat">
                    <a class="chat-name" href="#" data-id="{{ chat.id }}" data-username="{{ chat.users[0].username }}">
                        {% if chat.users[0].first_name and chat.users[0].last_name %}
                        {{ chat.users[0].first_name }} {{ chat.users[0].last_name }}
                        {% else %}
                        {{ chat.users[0].username }}
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="chat-empty">У вас пока нет чатов</p>
            {% endif %}
            <div class="d-grid gap-2">
                <!-- Кнопка для создания нового чата с подсказкой -->
                <button id="newChatButton" class="btn btn-primary tooltip-custom" data-bs-toggle="tooltip"
                        title="Начать чат с новым пользователем">
                    <span class="me-2">Написать</span><i class="bi bi-chat-plus"></i>
                </button>
                <button id="toggleNoticeButton" class="btn btn-secondary mt-3">
                    {{'Отключить уведомления' if current_user.notice else 'Включить уведомления'}}
                    <!--                    <div class="loader" id="loader"></div>-->
                </button>
                {% if current_user.telegram != None and current_user.telegram_chat_id == None %}
                <p class="notice-info">
                    Для активации уведомлений перейдите в наш бот по ссылке:
                    <a href="https://t.me/message_spotter_bot" target="_blank">https://t.me/message_spotter_bot</a>
                    и нажмите кнопку Начать.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="telegramModal" tabindex="-1" aria-labelledby="telegramModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="telegramModalLabel">Введите ваш Telegram ID</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="telegramInput" class="form-control" placeholder="Ваш Telegram ID" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="saveTelegramID">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для ввода username -->
<div class="modal fade" id="newChatModal" tabindex="-1" aria-labelledby="newChatModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newChatModalLabel">Новый чат</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="usernameInput" class="form-control" placeholder="Введите username" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="confirmNewChat">Начать чат</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let noticeStatus = {{ current_user.notice | tojson }};
    let telegramId = "{{ current_user.telegram }}" !== "None" ? "{{ current_user.telegram }}" : null;
    const currentUsername = "{{ current_user.username }}";

    // Инициализация подсказки
    document.querySelectorAll('.tooltip-custom').forEach(el => new bootstrap.Tooltip(el));

    document.getElementById("toggleNoticeButton").addEventListener("click", function () {
        if (!telegramId) {
            const telegramModal = new bootstrap.Modal(document.getElementById("telegramModal"));
            telegramModal.show();
        } else {
            sendPatchRequest();
        }
    });

    document.getElementById("saveTelegramID").addEventListener("click", function () {
        telegramId = document.getElementById("telegramInput").value.trim();
        if (telegramId && validateTelegramID(telegramId)) {
            sendPatchRequest();
            const telegramModal = bootstrap.Modal.getInstance(document.getElementById("telegramModal"));
            telegramModal.hide();
        } else {
            alert('Введите корректный Telegram ID (5-32 символов, латинские буквы, цифры и подчеркивание)');
        }
    });

    async function sendPatchRequest() {
        const loader = document.getElementById("loader");
        const newNoticeStatus = !noticeStatus;
        try {
            const response = await fetch('/mychat/change_notice', {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    username: currentUsername,
                    telegram: telegramId,
                    notice: newNoticeStatus
                })
            });
            if (response.ok) {
                noticeStatus = newNoticeStatus;
                document.getElementById("toggleNoticeButton").textContent = noticeStatus ? "Отключить уведомления" : "Включить уведомления";
                alert('Информация обновлена!');
                window.location.reload();
            } else {
                console.error('Ошибка изменения уведомлений', response.status);
                alert('Произошла ошибка при изменении настроек уведомлений');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    function validateTelegramID(id) {
        return /^[a-zA-Z0-9_]{5,32}$/.test(id);
    }

    document.querySelectorAll('.chat-name').forEach(chat => {
        chat.addEventListener('click', function (event) {
            const chatId = event.target.getAttribute('data-id');
            window.location.href = `/mychat/chats/${encodeURIComponent(currentUsername)}/${chatId}`;
        });
    });

    // Открытие модального окна для нового чата
    document.getElementById("newChatButton").addEventListener("click", function () {
        const newChatModal = new bootstrap.Modal(document.getElementById("newChatModal"));
        newChatModal.show();
    });

    // Отправка POST-запроса для создания нового чата и редирект на созданный чат
    document.getElementById("confirmNewChat").addEventListener("click", function () {
        const username = document.getElementById("usernameInput").value.trim();
        if (username) {
            fetch('/mychat/new_chat', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    current_user: currentUsername,
                    target_user: username
                })
            })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(result => {
                if (result.success && result.chat_id) {
                    const chatId = result.chat_id; // ID нового чата
                    window.location.href = `/mychat/chats/${encodeURIComponent(currentUsername)}/${chatId}`;
                } else {
                    alert('Error: ' + (result.message || 'Не удалось создать чат'));
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Произошла ошибка при создании чата. Пожалуйста, попробуйте снова.');
            });
        }
    });
</script>
</body>
</html>